html, body {
    padding: 0 0 10px 0;
    margin: 0;
    background-color: #ddd;
}

html, body, input, button {
    font-family: Calibri, Arial, sans-serif;
    font-size: 20px;
}

body {
    line-height: 40px;
}

button, input {
    line-height: 30px;
}

#wrapper {
    width: 800px;
    margin: 0 auto;
    padding: 25px;
    background-color: #fff;
    box-shadow: 0 0 10px 2px #999;
}

h1 {
    text-align: center;
    margin: 0 0 10px 0;
}

h2 {
    font-size: 20px;
    margin: 10px 0 5px 0;
}

p {
    margin: 0;
}

input[type=checkbox] {
    padding: 0;
    margin: 0 5px;
}

a {
    cursor: pointer;
}

/* Documentation */

.section {
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #666;
    padding: 2px 0;
}

.section:hover {
    background-color: #eee;
}

pre {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    margin: 0;
}

.code {
    width: 600px;
    float: right;
}

.code .line {
    height: 16px;
}

.doc {
    width: 180px;
    float: left;
}

.doc h3 {
    margin: 0;
    padding: 0;
}

.number {
    color: #ccc;
    float: left;
    width: 30px;
}
